<!DOCTYPE html>
<html lang="en" error="false" screen-size="large">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/sign-in.css">
    <title>Document</title>
</head>
<body>
    
    <div class="content">
        <% if (typeof(error) != "undefined") { %>
            <div class="alert"><%= error %></div>
        <% } %>
        <div id="form-holder">
            <form action="/sign-in" method="post">
                <h1 class="title">Sign In</h1>
                <p class="info">User Name</p>
                <div class="input-holder">
                    <input size="1" type="text" name="username" id="username" class="inputs" required>
                </div>
                
                <p class="info">Password</p>
    
                <div class="input-holder">
                    <div class="input-holder2">
                        <input type="password" name="password" id="password" class="inputs" required><br>
                    </div>
                    
                </div>
                
                <div style="text-align: center;">
                    <input type="submit" value="sign in" class="submit">
                </div>
                
            </form>
        </div>
        <div class="other-buttons">
            <a href="/create-account">create account</a><br>
            <a href="/forgot-password">forgot password?</a>
            <!-- <input type="button" value="create account" class="create-account"><br>
            <input type="button" value="forgot password?" class="forgot-password"> -->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <% if (typeof(error) != "undefined") { %>
        <script>
            $("html").attr("error", "true");
        </script>
    <% } %>

    <script>
        function changedWindowSize() {
            console.log('h')
            if ($("html").width() < 420) {
                console.log("small");
                $("html").attr("screen-size", "small");
            } else {
                $("html").attr("screen-size", "large");
            }
        }

        function getMeta(metaName) {
            const metas = document.getElementsByTagName("meta");

            for (let i = 0; i < metas.length; i++){ 
                if (metas[i].getAttribute('name') === metaName) {
                    return metas[i].getAttribute('content');
                }
            }

            return "";
        }

        window.onresize = changedWindowSize;
        changedWindowSize();
    </script>
</body>
</html>