$fontSize: 2rem;

* {
    font-family: "Roboto";
    color: white;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0f4c75;
}

.title-bar{
    position: sticky;
    top: 0;
    height: $fontSize + .5rem;
    background-color: #1b262c;
    padding: .5rem;

    p{
        margin: 0;
        padding: 0;
        font-size: $fontSize;
    }

    .search-bar{
        border: none;
        border-radius: 10px;
        height: $fontSize + .5rem;
        padding: 0 5px;
        font-size: $fontSize;
        &:focus {
            outline: none;
        }
    }
}

.content {
    padding: .5rem;
    font-size: $fontSize;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            margin-bottom: .5rem;
            .create-game{
                position: absolute;
                right: .5rem;
                background-color: #1b262c;
                border: none;
                border-radius: 10px;
                padding: .2rem;
                transition: background-color .2s ease-in-out;
                cursor: pointer;
                user-select: none;
                p{
                    margin: 0;
                    padding: 0;
                }

                &:hover {
                    background-color: green;
                }
            }
        }
    }
    
}