$main-color: #0f4c75;
$toolbar-color: #0d456a;
$toolbar-height: 4rem;
$toolbar-padding: 1rem;

body {
    margin: 0;
    padding: 0;
    background-color: $main-color;
    margin-top: $toolbar-height
}

* {
    color: white;
    font-family: "Roboto", sans-serif;
}

.toolbar {
    user-select: none;

    position: absolute;
    top: 0;
    padding:0;
    margin:0;
    height: $toolbar-height;
    width: 100vw;
    background-color: $toolbar-color;

    p {
        display: inline-block;
        line-height: $toolbar-height;
        margin: 0;
        padding: 0;
        font-size: .6 * $toolbar-height;
    }

    .logo {
        padding-left: $toolbar-padding;
        font-family: "Gloria Hallelujah", cursive;
    }

    span.right {
        position: absolute;
        top:0;
        right: 0;

        a {
            text-decoration: none;
        }

        p {
            cursor: pointer;
            user-select: none;
            margin-right: $toolbar-padding;
        }
    }
}

.title-bar {
    margin: 2rem;
    margin-top: $toolbar-height + 2rem;
}

.title {
    margin: 0;
    line-height: 3rem;
    font-size: 3rem;
    font-family: 'Gloria Hallelujah', cursive; 
}

.sub-title {
    margin: 0;
    line-height: 1.5rem;
    font-size: 1.5rem;
}