$fontSize: 2rem;
$toolbar-height: 4rem;
$toolbar-padding: 1rem;
$sidebar-width: 15rem;

* {
    font-family: "Roboto";
    color: white;
}

body {
    margin: 0;
    width: 100vw;
    background-color: #0f4c75;
    margin-top: $toolbar-height;
}

.toolbar {
    z-index: 2;
    user-select: none;
    position: absolute;
    top: 0;
    padding:0;
    margin:0;
    height: $toolbar-height;
    width: 100vw;
    background-color: #1b262c;
    color: purple;
    // background-color: #0d456a;

    p {
        display: inline-block;
        line-height: $toolbar-height;
        margin: 0;
        padding: 0;
        font-size: .6 * $toolbar-height;
    }

    a {
        color: white;
        text-decoration: none;
        line-height: $toolbar-height;
    }

    .logo {
        padding-left: $toolbar-padding;
        font-family: "Gloria Hallelujah", cursive;
        cursor: pointer;
    }

    span.right {
        position: absolute;
        top:0;
        right: 0;

        a {
            text-decoration: none;
        }

        p {
            cursor: pointer;
            user-select: none;
            margin-right: $toolbar-padding;
        }
    }
}

.toolbar-dropdown {
    visibility: hidden;
    z-index: 3;
    position: absolute;
    top: $toolbar-height;
    right: 0;
    display: inline-block;
    background-color: #24333b;
    width: 15rem;
    border: solid white{
        width: 2px;
        top-width: 0;
        right-width: 0;
    }
    p {
        padding: 0;
        margin: 1rem;
        display: inline-block;
    }
}

#menu-toggle[state="open"] {
    transform: rotate((90deg));
    line-height: 1.4;
}

.sidebar {
    height: 100%;
    // padding-top: $toolbar-height;
    background-color: #1a3b4e;
    width:100%;
    font-size: $fontSize;

    p {
        display: inline-block;
        margin-left: 1rem;
    }
}

.main {
    position: absolute;
    top: 0;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: $sidebar-width auto;
    
    .padding {
        height: $toolbar-height + 1rem;
    }
}

.new-content {
    padding: .5rem;
    font-size: $fontSize;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            p {
                display: inline-block;
                margin: 0;
                margin-bottom: .5rem;
                margin-right: 7.2rem;
                word-break: break-all;
                word-break: break-word;
                padding: 0;
            }
            
            .create-game{
                position: absolute;
                right: .5rem;
                background-color: #1b262c;
                border: none;
                border-radius: 10px;
                // padding: .2rem;
                transition: background-color .2s ease-in-out;
                text-align: center;
                cursor: pointer;
                user-select: none;
                width: 6.2rem;
                p{
                    margin: 0;
                    padding: 0;
                }

                &:hover {
                    background-color: green;
                }
            }
        }
    }
}

.account-data {
    font-size: $fontSize + 1rem;
    margin-right: 5rem;
}