$fontSize: 2rem;
$toolbar-height: 4rem;
$toolbar-padding: 1rem;
$sidebar-width: 15rem;

* {
    font-family: "Roboto";
    color: white;
}

body {
    margin: 0;
    width: 100vw;
    background-color: #0f4c75;
    margin-top: $toolbar-height;
}

.toolbar {
    z-index: 3;
    user-select: none;
    position: fixed;
    top: 0;
    padding:0;
    margin:0;
    height: $toolbar-height;
    width: 100vw;
    background-color: #1b262c;
    color: purple;
    // background-color: #0d456a;

    p {
        display: inline-block;
        line-height: $toolbar-height;
        margin: 0;
        padding: 0;
        font-size: .6 * $toolbar-height;
    }

    a {
        color: white;
        text-decoration: none;
        line-height: $toolbar-height;
    }

    .logo {
        padding-left: $toolbar-padding;
        font-family: "Gloria Hallelujah", cursive;
        cursor: pointer;
    }

    span.right {
        position: absolute;
        top:0;
        right: 0;

        a {
            text-decoration: none;
        }

        p {
            cursor: pointer;
            user-select: none;
            margin-right: $toolbar-padding;
        }
    }
}

.toolbar-dropdown {
    visibility: hidden;
    z-index: 4;
    position: fixed;
    top: $toolbar-height;
    right: 0;
    display: inline-block;
    background-color: #24333b;
    width: 15rem;
    border: solid white{
        width: 2px;
        top-width: 0;
        right-width: 0;
    }
    p {
        padding: 0;
        margin: 1rem;
        display: inline-block;
    }
}

#menu-toggle[state="open"] {
    transform: rotate((90deg));
    line-height: 1.4;
}

.sidebar {
    height: 100%;
    // padding-top: $toolbar-height;
    background-color: #1a3b4e;
    width:100%;
    font-size: $fontSize;
    user-select: none;

    p {
        cursor: pointer;
        display: inline-block;
        margin-left: 1rem;
    }
}

.main {
    position: absolute;
    top: 0;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: $sidebar-width auto;
    
    .padding {
        height: $toolbar-height + 1rem;
    }
}

.new-content {
    padding: .5rem;
    font-size: $fontSize;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            p {
                display: inline-block;
                margin: 0;
                margin-bottom: .5rem;
                margin-right: 7.2rem * 2;
                word-break: break-all;
                word-break: break-word;
                padding: 0;
            }

            .game-buttons {
                position: absolute;
                right: 0;
                display: inline-block;
                .button-holder {
                    display: inline-block;
                }
                .create-game, .edit-game {
                    display: inline-block;
                    background-color: #1b262c;
                    border: none;
                    border-radius: 10px;
                    transition: background-color .2s ease-in-out;
                    text-align: center;
                    cursor: pointer;
                    user-select: none;
                    width: 6.2rem;
                    margin-right: .5rem;
                    p{
                        margin: 0;
                        padding: 0;
                    }

                    &:hover {
                        background-color: green;
                    }
                }
            }
            
            
        }
    }
}

.account-data {
    font-size: $fontSize + 1rem;
    margin-right: 5rem;
}

.shade {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.shade2 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

html[screen-size="small"] {
    body {
        width: 100vw;
    }
    .main {
        grid-template-columns: 100%;
    }
    .sidebar-button {
        z-index: 2;
        position: fixed;
        margin: 0;
        padding: 0;
        font-size: 2rem;
        top: $toolbar-height + .25rem;
        left: 16rem;
        cursor: pointer;
        user-select: none;
        height: 2rem;
        width: 2rem;
        background-color: #1b262c;
        text-align: center;
        border-radius: 10px;
        line-height: 2rem;
        border: 2px solid white;
    }
    .main[state="closed"] {
        .sidebar-button {
            z-index: 0;
            left: 1rem;
        }
        .sidebar {
            display: none;
        }
    }
    .sidebar {
        z-index: 2;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 15rem;
        height: 100vh;
    }
    .content {
        .padding {
            height: $toolbar-height + 2rem;
        }
    }

    .new-content {
        #games {
            li {
                p {
                    margin-bottom: 0;
                    margin-right: 0;
                }
                .game-buttons {
                    width: 100%;
                    height: 3rem;
                    position: relative;
                    margin-bottom: 1.5rem;
                    .button-holder {
                        box-sizing: border-box;
                        width: 50%;
                        margin: 0;
                        padding: 10px;
                        display: inline-block;
                        .create-game, .edit-game {
                            width: 100%;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}