$mainColor: #0f4c75;
$accentColor: #1b262c;
$borderRadius: 10px;

html {
    min-height: 100vh;
}

* {
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.top-bar {
    height: auto;
    width: 100%;
    background-color: #223038;
    border: none;
    padding: 0;
    margin: 0;
    user-select: none;
    word-break: keep-all;

    div.inputs {
        input {
            height: 3rem;
            margin: .5rem;
            width: 100%;
            min-width: 12rem;
            resize: horizontal;
            background-color: $accentColor;
            border: none;
            border-radius: $borderRadius;
            font-size: 2rem;

            &.mini-screen {
                width: 100%;
            }
        }

        display:inline-block;
        width: calc(100% - 9rem);
    }


    .create-button {
        padding: 0 {
            right: 1rem;
            left: 1rem;
        }

        ;
        font-size: 2rem;
        margin: 0;
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: $mainColor;
        line-height: 3rem;
        border: none;
        border-radius: $borderRadius;
        cursor: pointer;
        float: right;

        margin: {
            right: .5rem;
            top: .5rem;
            bottom: .5rem;
        }
    }
}



html[screen-size="small"] {
    .top-bar {
        div.inputs {
            box-sizing: border-box;
            width: 100%;
            padding: .5rem;
            input {
                box-sizing: border-box;
                width: 100%;
                margin: 0;
            }
        }
        .create-button {
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding: .5rem;
            background-color: rgba($color: #000000, $alpha: 0);
            div {
                text-align: center;
                background-color: $mainColor;
                border-radius: $borderRadius;
                width: 100%;
                margin: 0;
            }
        }
    }

    #big-container {
        grid-template-rows: 8rem auto;
    }

    .content {
        grid-template-columns: 100%;
        grid-template-rows: 7rem auto;

        .main-content {
            #question-input {
                width: 100%;
                height: 2.5rem;
            }

            #question-time-input {
                width: 100%;
                height: 2.5rem;
            }
        }

        .side-bar {
            border: solid;
            border-width: 2px;
            border-color: #223038;
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;

            div {
                height: 5rem;

                .exit-question-button {
                    height: 5rem;
                    width: 2rem;
                    margin: 0;
                }

                &.add-question {
                    div {
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }
        }

        .button-holder {
            .button {
                margin: .1rem;

                .exit-button {
                    margin: .1rem;
                }

                .answer-button {
                    margin: .1rem;
                }

                input {
                    position: absolute;
                    top: 3rem;
                }
            }
        }

        &.mini-screen {
            grid-template-columns: 100%;
            grid-template-rows: 7rem auto;
    
            .side-bar div {
                height: 5rem;
                .exit-question-button {
                    height: 5rem;
                    width: 2rem;
                    margin: 0;
                }
    
                &.add-question {
                    div {
                        height: 2rem;
                        width: 2rem;
                    }
                }
            }
    
            .button-holder{
                .button {
                    margin: .1rem;
    
                    .exit-button {
                        margin: .1rem;
                    }
                    
                    .answer-button {
                        margin: .1rem;
                    }
    
                    input {
                        position: absolute;
                        top: 3rem;
                    }
                }
            }
        }
    }
}

#big-container {
    grid-template-rows: 4rem auto;
    display:grid; 
    grid-template-columns: 100%; 
    height: 100vh; 
    width: 100vw;
}

.content {
    width: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 16rem auto;
    padding: 0;
    margin: 0;
    background-color: $mainColor;
}

.side-bar {
    grid-template-columns: 100%;
    height: 100%;
    background-color: $accentColor;
    overflow-y: scroll;
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;

    div {
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        background-color: $mainColor;
        border: none;
        border-radius: $borderRadius;
        cursor: pointer;
        height: 9rem;
        display: grid;
        justify-items: center;
        align-items: center;
        user-select: none;
        position: relative;
        overflow: hidden;
        margin-bottom: .5rem;

        &.add-question {
            div {
                box-sizing: content-box;
                display: grid;
                justify-items: center;
                align-items: center;
                width: 1rem;
                height: 1rem;
                background-color: grey;
            }
        }

        .exit-question-button {
            display: grid;
            justify-items: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            margin: .5rem;
            width: 2rem;
            height: 2rem;
            background-color: grey;
            border: none;
            border-radius: 10px;
            user-select: none;
            cursor: pointer;

            &:hover {
                border: solid;
                border-color: white;
                border-width: .1rem;
                margin: .4rem;
            }
        }

        &.selected {
            border: solid;
            border-color: white;
            border-width: .1rem;
        }
    }
}

.main-content {
    #input-holder {
        display: grid;
        grid-template-columns: auto 6rem;

        div {
            width: 100%;
            padding-right: .5rem;
            box-sizing: border-box;
        }
    }



    #question-input {
        background-color: $accentColor;
        border: none;
        border-radius: $borderRadius;
        padding: 0;
        margin: 0;
        font-size: 3rem;
        color: white;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        user-select: none;
    }

    #question-time-input {
        background-color: $accentColor;
        border: none;
        border-radius: $borderRadius;
        padding: 0;
        margin: 0;
        font-size: 3rem;
        color: white;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        user-select: none;
    }

    .button-holder {
        display: grid;
        grid-template-columns: 50% 50%;
        border: none;
        border-radius: $borderRadius;
        background-color: $accentColor;
        height: 100%;
        width: 100%;

        .button {
            display: grid;
            justify-items: center;
            align-items: center;
            margin: .5rem;
            border: none;
            border-radius: $borderRadius;
            position: relative;

            .exit-button {
                display: grid;
                justify-items: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                margin: .5rem;
                width: 2rem;
                height: 2rem;
                background-color: grey;
                border: none;
                border-radius: 10px;
                user-select: none;
                cursor: pointer;
            }

            .answer-button {
                display: grid;
                justify-items: center;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;

                padding: 0 {
                    left: .5rem;
                    right: .5rem;
                }

                ;
                margin: .5rem;
                height: 2rem;
                background-color: grey;
                border: none;
                border-radius: 10px;
                user-select: none;
                cursor: pointer;

                &.accept {
                    background-color: greenyellow;
                }
            }

            input {
                user-select: none;
                background-color: $accentColor;
                width: 80%;
                border: none;
                border-radius: $borderRadius;
                height: 3rem;
                font-size: 2rem;
            }
        }
    }
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.dark-blue {
    background-color: #223038;
    cursor: pointer;

    div {
        width: 2rem;
        height: 2rem;
        background-color: gray;
        display: grid;
        justify-items: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        user-select: none;
    }
}