%grid-center {
    display: grid;
    align-items: center;
    justify-items: center;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

table {
    height: 100%;
    width: 100%
}

td {
    padding: 0;
}

#question {
    font-size: 2rem;
}

.button-holder{
    display: grid;
    grid-template-columns: auto auto;
    height:100%;
    width: 100%;
}

#next-button{
    cursor: pointer;
}

.grid-button {
    @extend %grid-center;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    font-size: 2rem;
    text-align: center;
    color: white;

    &.hidden {
        visibility: hidden;
    }
}

.red {
    background-color: red;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

#graph-holder {
    display: grid;
    width: 100%;
    height: 100%;
}

@for $i from 0 through 100 {
    .percentage-#{$i} {
        $value: ($i * 1%);
        $value2: ((100 - $i) * 1%);
        height: $value;
        position: relative;
        top: $value2;
        width: 10%;
        display: inline-block;
    }
}