$main_color: #0f4c75;
$darker_color: #0c4063;
$input_color: #1b262c;
$border-radius: 10px;

* {
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    background-color: $main_color;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

#form-holder {
    background-color: $darker_color;
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2rem {
        bottom: 2rem;
    };
}

.info {
    margin: 0;
    position: relative;
    top: 7px;
    left: 16px;
    padding: 0;
    padding-left: 4px;
    padding-right: 2px;
    background-color: $darker_color;
    display: inline-block;
}

.inputs {
    background-color: $input_color;
    border: none;
    height: 2rem;
    min-width: 20rem;
    border-radius: $border-radius;
    resize: horizontal;
    font-size: 1.5rem;
    user-select: none;
    padding: {
        left: .5rem;
        right: .5rem;
    }
    margin: 1px;

    &:focus {
        outline: none;
        border: 1px white solid;
        margin: 0;
    }
}

.input-holder {
    border: 2px purple solid;
    margin-bottom: 1.5rem;
    padding: 5px;
    border-radius: $border-radius + 5px;
}

.submit {
    background-color: purple;
    border: none;
    border-radius: $border-radius;
    height: 2rem;
    font-size: 1.5rem;
    width: 6rem;
    user-select: none;
    
    &:focus {
        outline: none;
        border: 1px white solid;
    }
}

.title {
    font-size: 3rem;
    margin-top: 0;
}

.other-buttons {
    background-color: #0a3856;
    text-align: center;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: {
        bottom: 2rem;
        top: 1rem;
    }
    
    & input {
        background-color: $input_color;
        border: none;
        min-width: 16rem;
        height: 2rem;
        margin-top: 1rem;
        font-size: 1.5rem;
        border-radius: $border-radius;
        
        &:focus {
            outline: none;
            border: 1px white solid;
        }
    }
}

.alert {
    background-color: orange;
    text-align: center;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    padding: {
        top: 1rem;
        bottom: 1rem;
    }
    font-size: 1.5rem;
}

html[error="true"] {
    #form-holder{
    border-radius: 0;
    }
    
}